*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.hero {
	background-image: url(../images/background.jpg);
	background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: block;
  nav {
    background-color: rgba($color: white, $alpha: 0.9);
  }
  .main-title {
    // text-align: center;
    transform: translate(10%, 30%);
    color: white;
    min-height: 100vh;
    width: 50%;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    a {
      background-color: #004E87;
      color: white;
      padding: 10px 25px;
      font-size: 1rem;
      text-decoration: none;
      transition: 0.3s;
    }
    a:hover {
      box-shadow: 0px 0px 30px #004E87;
    }
  }
}

//About section

.about-bg {
  background: rgb(42,0,0);
  background: radial-gradient(circle, rgba(42,0,0,1) 0%, rgba(0,0,0,1) 43%);
}

.about {
  padding: 50px 0;
}
.measure {
  text-align: center;
  align-self: center;
  .about-pic {
    width: 60%;
    margin: 0 auto;
    border-radius: 10px;
  }
}

.about-description {
  color: white;
  font-size: 1.1rem;
  text-align: justify;
  width: 90%;
  span {
    font-weight: bold;
  }
}
.about-description-pic {
  text-align: center;
  color: white;
  font-size: 1.1rem;
  margin-top: 10px;
}

//Second section
.second {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(118,110,110,0.9244499635160639) 100%); 
}
.second-title {
  text-align: center;
  padding: 10px;
  padding-top: 70px;
  color: white;
  font-size: 1.5rem;
  width: 50%;
  margin: 0 auto;
  font-weight: 300;
  span {
    font-weight: bold;
  }
}

.caps-images {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 0px;
  width: 100%;
}

.images {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  box-shadow: 0px 0px 30px black;
}

.caps-images {
  a {
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 0;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;

    video {
      // position: relative;
      display: block;
      object-fit: cover;
      margin: 0;
      font-size: 0;
      // height: 100%;
      width: 100%;
      box-shadow: 0px 0px 30px black;
      
    }

    .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    margin: 0px;
      .play-button {
        max-width: 30%;
        display: none;
        margin: 0 auto;
        align-self: center;
      }
    }
    &:hover .overlay {
      display: flex;
      animation: overlay 500ms;
      .play-button {
        display: block;
      }
    }
  }
  .video-description {
    display: block;
    margin: 0 auto;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    align-self: center;
    height: 100%;
  }
  .product-code {
    margin: 0;
    display: block;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 10px;
  }
}

.third{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(118,110,110,0.9244499635160639) 100%);
}

.section-title {
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 55px 0 0 0;
  text-transform: uppercase;
}

.fourth {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(118,110,110,0.9244499635160639) 100%);
  padding-bottom: 50px;
}

.video-margin {
  margin-bottom: 50px;
}

.fifth {
  background: black;
}

.footer {
  padding-bottom: 50px;
  a {
  text-decoration: none;
  }
  a:hover {
    .footer-title {
      color: grey;
      transition: 0.3s;
      i {
        color: grey;
        transition: 0.3s;
      }
    }
  }
}
.footer-title {
  color: white;
  padding-top: 10px;
  font-size: 1rem;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
  i {
    font-size: 1.5rem;
    padding: 10px;
  }
}

.contacts-block {
  border-bottom: 1px solid #fff;
  margin: 0;
  padding: 30px 0;
}

@media all and (max-width: 992px) {
  .about-description {
    width: 100%;
  }
  .measure .about-pic {
    width: 70%;
  }
  .second-title {
    width: 80%;
  }
  .footer-title {
    width: 90%;
  }
}

@media all and (max-width: 768px) {
  .about {
    padding: 10px 0;
  }
  .hero .main-title {
    font-size: 2rem;
    width: 70%;
  }
  .measure {
    padding-top: 20px;
  }
  .caps-images .product-code {
    font-size: 1rem;
  }
  .second-title {
    width: 100%;
    padding-top: 55px;
  }
  .footer {
    padding: 0;
  }
  .footer-title {
    width: 100%;
  }
}

@media all and (max-width: 575px) {
  .caps-images {
    padding: 20px;
  }
  .section-title {
    font-size: 1.4rem;
    margin-top: 20px;
  }
  .second-title {
    font-size: 1.3rem;
    margin-top: 10px;
    padding-top: 45px;
  }
  .video-margin {
    margin-bottom: 20px;
  }
  .footer-title {
    width: 80%;
  }
}

@media (max-width: 370px) {
  .footer-title {
    i {
      display: none;
    }
  }
}

@keyframes overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}




